:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
/* start sidebar */
.sidebar {
  width: 200px;
  box-shadow: 0 0 10px #ddd;
  transition: 0.3s;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: black;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar > h3::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 3px solid white;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  margin-left: 14px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .sidebar > h3::after,
  .sidebar > h3::before {
    display: none;
  }
} /* end sidebar */
/* start head */
.content {
  overflow: hidden;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: all 0.3s;
}
.head .search input:focus {
  width: 200px;
  outline: 1px solid #ddd !important;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .notfication {
  margin-right: 8px;
}
.head .notfication::before {
  content: "";
  position: absolute;
  background-color: var(--orange-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -5px;
  right: 0;
}
.head .user img {
  width: 32px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: -5px;
  left: 25px;
}
.page h1::before {
  background-color: #ddd;
  width: 100px;
}
.page h1::after {
  background-color: black;
  width: 30px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

/* start welcome */
.intro img {
  width: 170px;
}
.body > span {
  flex: 1;
}
.body span > span {
  color: var(--grey-color);
}

@media (max-width: 767px) {
  .body span {
    margin-bottom: 10px !important;
  }
}
.welcome {
  overflow: hidden;
}
.welcome a {
  width: fit-content;
  margin: 0 15px 15px auto;
  transition: 0.3s;
  color: white;
}
.welcome a:hover {
  background-color: var(--blue-alt-color);
}
.welcome > img {
  width: 50px;
  margin-top: -25px;
  margin-left: 20px;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0 0 5px #ddd;
}
/* end welcome */
/* end head */
/* start quick draft */
.quick-draft input[type="submit"]:hover {
  background-color: var(--blue-alt-color);
}
.quick-draft textarea {
  height: 100px;
  resize: none;
}
/* end quick draft */
/* start target */
.target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.target-row .details {
  flex: 1;
}
.target-row .details .progress {
  height: 4px;
}
.target-row .details .progress > span {
  height: 100%;
}
.target-row .details .progress > span span {
  position: absolute;
  top: -30px;
  right: -16px;
  padding: 2px 5px;
  font-size: 12px;
}
.target-row .details .progress > span span::before {
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
.target-row .details .progress > .blue span::before {
  border-top-color: var(--blue-color);
}
.target-row .details .progress > .orange span::before {
  border-top-color: var(--orange-color);
}
.target-row .details .progress > .green span::before {
  border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
  background-color: #0d6ad556;
}
.orange .icon,
.orange .progress {
  background-color: #f59f0b50;
}
.green .icon,
.green .progress {
  background-color: #22c55e48;
}
@media (max-width: 767px) {
  .target-row .details .progress {
    margin-top: 35px;
  }
}
/* end target */
/* start ticket */
.ticket .content .box {
  width: calc(50% - 10px);
}
/* ممكن من دونها لانه اصلا البوكس فاضي فيكون ريسبونسف */
@media (max-width: 767px) {
  .ticket .content .box {
    width: 100%;
  }
}
/* end ticket */
/* start news */
.news-row {
  padding: 5px;
}
.news-row:not(:last-of-type) {
  border-bottom: 1px solid var(--grey-color);
}
.news-row img {
  width: 100px;
  margin-right: 10px;
  border-radius: 6px;
}
.news-row .info {
  flex: 1;
}
.news-row .time {
  background-color: var(--grey-color) !important;
}
@media (max-width: 767px) {
  .news-row {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .news-row .time {
    margin: 0 auto;
  }
}
/* end news */
/* start task */
.task .task-row {
  padding: 8px;
}
.task .task-row:not(:last-of-type) {
  border-bottom: 1px solid var(--grey-color);
}
.task .done h3,
.task .done p {
  opacity: 0.7;
  text-decoration: line-through;
}
.task .task-row i {
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.task .task-row i:hover {
  color: var(--red-color);
}
/* end task */
/* start items */
.items span:last-child {
  background-color: var(--grey-color);
  padding: 2px 5px;
  margin-top: 17px;
}
/* end items */
/* start latest upload */
.latest-upload .box img {
  width: 60px;
  margin-right: 10px;
}

.latest-upload .box .size {
  background-color: var(--grey-color);
}
@media (max-width: 400px) {
  .latest-upload .box {
    flex-direction: column;
  }
  .latest-upload .box .size {
    margin: 0 auto;
  }
}
/* end latest upload */
/* start last project */
.last-project ul li {
  margin-left: 50px;
}
.last-project ul::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 11px;
  background-color: var(--blue-color);
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  left: -50px;
  top: 1px;
  background-color: white;
  outline: 2px solid var(--blue-color);
  border: 2px solid white;
  z-index: 1;
}
.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  animation: change-color 0.8s infinite alternate;
}
@keyframes change-color {
  from {
    background-color: white;
  }
  to {
    background-color: var(--blue-color);
  }
}
.last-project .lunch-icon {
  position: absolute;
  width: 180px;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}
/* end last project */

/* start reminder */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
/* end reminder */
/* start post */
.post .top img {
  width: 40px;
  height: 40px;
}
.post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
}
/* end post */
/* start social-media */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  transition: 0.3s;
  color: white;
  text-align: center;
  line-height: 55px;
}
.social-media a {
  position: relative;
  top: -30%;
  transform: translateY(30%);
}
.social-media .twitter {
  background-color: #1da0f26d;
  color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook {
  background-color: #1876f268;
  color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .linkedin {
  background-color: #38434f69;
  color: #38434f;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #38434f;
}
.social-media .youtube {
  background-color: #ff000059;
  color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff000059;
}
@media (max-width: 400px) {
  .social-media .box {
    padding-left: 55px;
  }
  .social-media .box {
    font-size: 15px;
  }
}
/* end social-media */
/* start table */
.project .responsive-table {
  overflow-x: auto;
}
.project table {
  min-width: 1000px;
  border-spacing: 0;
}
.project table thead td {
  background-color: #eee;
  font-weight: bold;
}
.project table td {
  padding: 15px;
}
.project tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
}
.project tbody td:last-of-type {
  border-right: 1px solid #eee;
}
table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
table img:not(:first-of-type) {
  margin-left: -15px;
}
table .label {
  margin: 0 auto;
}
table tbody tr:hover td {
  background-color: #faf7f7;
}
/* end table */
/* start toogle */
.toogle-checkbox {
  -webkit-appearance: none;
  appearance: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toogle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toogle-checkbox:checked + .toggle-switch::before {
  left: 50px;
  color: var(--blue-alt-color);
  content: "\f00c";
}
/* end toogle */
/* start setting page */
.setting-page {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
@media (max-width: 767px) {
  .setting-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* end setting page */
/* start site-control */
.close-message {
  resize: none;
  min-height: 150px;
}
/* end site-control */
/* start general info  */
.general-info .general-box input[type="email"] {
  display: inline-flex;
  width: calc(100% - 90px);
}
.general-info .general-box input[type="email"]:disabled {
  cursor: no-drop;
  background-color: #f0f5f8;
  color: #bbb;
}
.general-info .general-box .btn-shape {
  display: inline-block;
  padding: 5px;
}
/* end general info  */
/* start security */
.secutity-info .security-box:not(:last-of-type) {
  padding-bottom: 5px;
}
.secutity-info .security-box label {
  margin-right: 20px;
}
.secutity-info .security-box .btn-shape {
  background-color: var(--grey-color);
}
/* end security */
/* start social  */
.social-box i {
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3;
  background-color: #f6f6f6;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}
.social-box input {
  border-radius: 0 6px 6px 0;
  height: 40px;
}

/* end social  */
/* start widget contol */
.Widgets-info .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.Widgets-info .control label {
  padding-left: 30px;
  font-weight: bold;
  position: relative;
}
.Widgets-info .control label:hover::before {
  border-color: var(--blue-alt-color);
}
.Widgets-info .control label::before {
  content: "";
  position: absolute;
  border: 2px solid var(--grey-color);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}
.Widgets-info .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  position: absolute;
  font-weight: 900;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--blue-color);
  color: white;
  width: 19px;
  height: 19px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.3s;
}
.Widgets-info .control input[type="checkbox"]:checked + label::before {
  border-color: var(--blue-color);
}
.Widgets-info .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
  top: 0;
  left: 2px;
}
/* end widget contol */
/* start backup */
.Backup-info .Backup-box {
  padding-left: 15px;
}
.Backup-info .Backup-box label {
  padding-left: 10px;
  font-weight: bold;
  position: relative;
}
.Backup-info .Backup-box label::before {
  content: "";
  position: absolute;
  border: 2px solid var(--grey-color);
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.Backup-info .Backup-box label:hover::before {
  border-color: var(--blue-alt-color);
}
.Backup-info .Backup-box label::after {
  font-family: var(--fa-style-family-classic);
  content: "";
  position: absolute;
  font-weight: 900;
  left: 0;
  top: 50%;
  background-color: var(--blue-color);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  transform: scale(0);
  transition: 0.3s;
}
.Backup-info .Backup-box input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.Backup-info .Backup-box input[type="radio"]:checked + label::after {
  transform: scale(1);
  top: 0;
  left: -16px;
}
.Backup-info .Backup-box input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

.Backup-info .servers {
  gap: 5px;
}
.servers .server {
  flex: 1;
}
.servers label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.Backup-info .servers input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.Backup-info .servers input[type="radio"]:checked + div {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
@media (max-width: 767px) {
  .servers {
    flex-wrap: wrap;
  }
}
/* end backup */
/* start profile page */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
    gap: 15px;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box img {
  width: 80px;
}
.profile-page .avatar-box .level {
  width: 50%;
  margin: auto;
  height: 5px;
  overflow: hidden;
}
.profile-page .avatar-box .level span {
  height: 100%;
  background-color: var(--orange-color);
  position: absolute;
  top: 0;
  left: 0;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .info-box .box:hover {
  background-color: #f6f6f6;
}
.profile-page .info-box .box > div {
  width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box .box h4 {
  font-weight: normal;
}

@media (max-width: 767px) {
  .profile-page .info-box .box {
    text-align: center;
  }
  .profile-page .info-box .box > div {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .other-data {
    flex-direction: column;
  }
}
.profile-page .other-data .my-skills {
  flex-grow: 1;
}
.profile-page .other-data .activities {
  flex-grow: 2;
}
.my-skills ul li {
  padding: 10px;
}
.my-skills ul li:not(:last-of-type) {
  border-bottom: 2px solid #eee;
}
.my-skills ul li span {
  display: inline-flex;
  width: fit-content;
  padding: 4px 10px;
  background-color: #f2f0f0;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.activity-box .imagebox {
  flex: 1;
  text-align: left;
}
.activity-box .imagebox img {
  width: 55px;
  margin-right: 10px;
}
.activity-box .time {
  text-align: right;
}
.activity-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
  .activity-box .imagebox {
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
  }
  .activity-box .imagebox img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .activity-box {
    flex-direction: column;
  }
  .activity-box .time {
    text-align: center;
  }
}
/* end profile page */
/* start project page */
.project .date {
  position: absolute;
  top: 0;
  right: 0;
}
.project .team {
  min-height: 60px;
}
.project .team img {
  width: 40px;
  border-radius: 50%;
  border: 1px solid wheat;
  padding: 2px;
  position: relative;
  transition: 0.3s;
}
.project .team img:hover {
  z-index: 1000;
}
.project .team img:not(:first-of-type) {
  margin-left: -20px;
}
.project .techs {
  justify-content: flex-end;
}
.project .techs span {
  display: inline-flex;
  padding: 5px 7px;
  margin-left: 2px;
  background-color: #eee;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .project .techs {
    flex-wrap: wrap;
  }
  .project .techs span {
    margin-bottom: 5px;
  }
}
.project .info {
  padding-top: 10px;
}
.project .info .progress {
  width: 200px;
  height: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.project .info .progress span {
  display: block;
  height: 100%;
  background-color: var(--red-color);
  border-radius: 6px;
}
@media (max-width: 767px) {
  .project .info {
    flex-direction: column;
  }
  .project .info .progress {
    margin-bottom: 10px;
  }
}
.project .info .progress .Academy {
  background-color: var(--blue-color);
}
.project .info .progress .Chatting,
.project .info .progress .Ahmed {
  background-color: #22c55e;
}
/* end project page */
/* start courses page */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.courses-page .course-box {
  overflow: hidden;
}
.courses-page .course-box .avatar {
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid #eee;
  border-radius: 50%;
  padding: 2px;
}
.courses-page .course-box img:nth-child(2) {
  width: 100%;
}
.courses-page .course-box .info {
  position: relative;
}
.courses-page .course-box .info h3 {
  width: 100%;
  font-size: 15px;
}
.courses-page .course-box .info span {
  margin: 0 auto;
  padding: 4px 7px;
  background-color: var(--blue-color);
  width: fit-content;
  border-radius: 5px;
  color: white;
  position: relative;
  z-index: 1000;
}
.courses-page .course-box .info::before {
  content: "";
  position: absolute;
  bottom: 22px;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd9d9;
}

/* end courserelatives page */
/* start friends page */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.friends-page .friend {
  overflow: hidden;
}
.friend .contact {
  position: absolute;
  left: 10px;
  top: 10px;
}
.friend .contact i {
  background-color: #eee;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.friend .contact i:hover {
  background-color: var(--blue-color);
  color: white;
}
.friend .imagebox img {
  width: 100px;
}
.friend .icons {
  padding-top: 10px;
  padding-bottom: 10px;
}
.friend .icons i {
  margin-right: 15px;
}
.friend .icons .vip {
  position: absolute;
  right: 0;
  font-size: 80px;
  top: 0;
  opacity: 0.6;
}
.friend .info div {
  margin-top: 10px;
}
.friend .info a:first-of-type {
  margin-right: 5px;
}
.friend .info a:last-of-type {
  background-color: var(--red-color);
}
@media (max-width: 767px) {
  .friend .icons .vip {
    display: none;
  }
}
/* end friends page */
/* start files page */

.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}
.files-stats {
  min-width: 260px;
}
.files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
}
.files-stats .size {
  margin-left: auto;
}
.files-stats .blue {
  background-color: #0075ff75;
}
.files-stats .orange {
  background-color: #f59e0b8c;
}
.files-stats .red {
  background-color: #f443367a;
}
.files-stats .green {
  background-color: #22c55e87;
}
.files-stats .upload {
  margin: 0 auto;
  transition: 0.3s;
}
.files-stats .upload:hover {
  background-color: var(--blue-alt-color);
}
.files-stats .upload:hover i {
  position: relative;

  animation: move 0.5s infinite;
}
/* او عن طريق الترانسفورم */
@keyframes move {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}

.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content .file img {
  width: 64px;
  transition: 0.3s;
}
.files-page .files-content .file:hover img {
  transform: rotate(5deg);
}
/* end files page */
/* start plans page */
.plans-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.plans-page .plan .top {
  border: 3px solid white;
  outline: 3px solid transparent;
}
.plans-page .plan.green .top {
  outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
  outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
  outline-color: var(--orange-color);
}
.plans-page .plan .price {
  font-size: 40px;
  width: fit-content;
  margin: 0 auto;
}
.plans-page .plan .price span {
  top: -10px;
  left: -30px;
}
.plans-page .plan ul li {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
  font-size: 15px;
}
.plans-page .plan ul li .yes {
  color: var(--green-color);
}
.plans-page .plan ul li .help {
  color: var(--grey-color);
  margin-left: auto;
  cursor: pointer;
  position: relative;
}
.plans-page .plan ul li .help:hover::after {
  content: "Plan";
  position: absolute;
  top: -25px;
  left: -15px;
  font-size: 12px;
  background-color: var(--green-color);
  color: white;
  padding: 5px;
}
.plans-page .plan ul li i:first-child {
  margin-right: 10px;
  font-size: 20px;
}
.plans-page .plan ul li i:not(.yes, .help) {
  color: var(--red-color);
}
.plans-page .plan a {
  margin: 10px auto;
  padding: 5px 10px;
}
.plans-page .plan a.free {
  background-color: var(--green-color);
}
.plans-page .plan a.basic {
  background-color: var(--blue-color);
}
.plans-page .plan a.Premium {
  background-color: var(--orange-color);
}
/* end plans page */
